<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- configFragment -->
    <th:block th:fragment="configFragment">
        <!-- Style -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">

        <!-- Bootstrap CSS(webjars) -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}">

        <!-- Javascript file -->
        <!--    <script th:src="@{/js/file.js}"></script>-->
    </th:block>
</html>