<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<header class="p-3 border-bottom" th:fragment="headerFragment">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <img th:src="@{/img/logo_120.svg}" alt="logo" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/trade/order}" class="nav-link px-2 link-secondary">거래소</a></li>
            <li><a th:href="@{/trade/hold/crypto}" class="nav-link px-2 link-body-emphasis">보유자산</a></li>
            <!--<li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>-->
        </ul>

        <div th:if="${session.loginMember != null}" class="d-flex justify-content-center">
            <span th:text="|${session.loginMember.username}님, 안녕하세요!|" class="align-self-center mx-3">님, 안녕하세요!</span>
            <button type="button" th:onclick="|location.href='@{/member/logout}'|" class="btn btn-danger">로그아웃</button>
        </div>

        <div th:if="${session.loginMember == null}">
            <button type="button" th:onclick="|location.href='@{/member/login}'|" class="btn btn-info">로그인</button>
            <button type="button" th:onclick="|location.href='@{/member/register}'|" class="btn btn-primary">회원가입</button>
        </div>

    </div>
</header>
</html>