<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_261e1"></div>
    <div class="tradingview-widget-copyright"><a href="https://kr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">트레이딩뷰에서 모든 시장 추적</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "autosize": true,
                "symbol": "UPBIT:BTCKRW",
                "interval": "3",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "1",
                "locale": "kr",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_261e1"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->
</body>

</html>