<th:block th:fragment="orderInfoFragment">
    <div class="me-4">
        <div class="d-flex">
            <span class="me-2"><h2 th:text="${upbitCryptoInfo.koreanName}">암호화폐 이름</h2></span>
            <span th:text="${upbitCryptoInfo.market}" class="align-self-center"></span>
        </div>
        <!-- chart widget -->
        <div id="trading_chart_view"></div>
    </div>

    <!-- TradingView Widget BEGIN -->
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        // 암호화폐 symbol 위젯 불러오기
        if(!(typeof pure_market_code && typeof crypto_market_code && typeof words)) {
            let pure_market_code, crypto_market_code, words;
        }

        crypto_market_code = '[[${upbitCryptoInfo.market}]]';
        words = crypto_market_code.split("-")

        pure_market_code = words[1];

        new TradingView.widget(
            {
                "width": 900,
                "height": 500,
                // autosize: true,
                custom_font_family: "'Noto Sans KR', sans-serif",
                symbol: "UPBIT:" + pure_market_code + "KRW", // symbol: "UPBIT:BTCKRW"
                interval: "D",
                timezone: "Asia/Seoul",
                theme: "light",
                style: "1",
                locale: "kr",
                enable_publishing: false,
                allow_symbol_change: false,
                container_id: "trading_chart_view",
                "hide_side_toolbar": false,
            }
        );
    </script>
    <!-- TradingView Widget END -->
</th:block>
