<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>거래소</title>
        <style>
            td {font-size: 11px;}
            tr {font-size: 10px;}
        </style>
    </head>
    <body layout:fragment="content">
        <div class="container mt-3">
            <div class="d-flex">
                <section>
                    <div class="mb-4" id="order_info" th:insert="~{/trade/orderInfo :: orderInfoFragment}"></div>

                    <div class="row" style="width: 924px">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">BTC 매수</h5><hr>
                                    <form action=""></form>
                                    <div class="mb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled />
                                            <label class="form-check-label" for="inlineRadio1">지정가</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                            <label class="form-check-label" for="inlineRadio2">시장가</label>
                                        </div>
                                    </div>
                                    <dl style="display: flex">
                                        <dt>매수 가능 금액</dt><dd style="margin-left: auto">5,000(KRW)</dd>
                                    </dl>
                                    <!--<div class="form-outline mb-3">
                                        <input type="text" id="form3" class="form-control" />
                                        <label class="form-label" for="form3">매수가격(KRW)</label>
                                    </div>-->
                                    <div class="form-outline mb-3">
                                        <input type="text" id="form4" class="form-control" />
                                        <label class="form-label" for="form4">주문총액(KRW)</label>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-success" type="button">매수</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">BTC 매도</h5><hr>
                                    <div class="mb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1" disabled />
                                            <label class="form-check-label" for="inlineRadio3">지정가</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2" />
                                            <label class="form-check-label" for="inlineRadio4">시장가</label>
                                        </div>
                                    </div>
                                    <dl style="display: flex">
                                        <dt>매도 가능 금액</dt><dd style="margin-left: auto">5,000(KRW)</dd>
                                    </dl>
                                    <!--<div class="form-outline">
                                        <input type="text" id="form1" class="form-control mb-3" />
                                        <label class="form-label" for="form1">매도가격(KRW)</label>
                                    </div>-->
                                    <div class="form-outline">
                                        <input type="text" id="form2" class="form-control mb-3" />
                                        <label class="form-label" for="form2">주문총액(KRW)</label>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-danger" type="button">매도</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <section>
                    <!-- Tabs navs -->
                    <ul class="nav nav-tabs nav-justified" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a
                                    class="nav-link active"
                                    id="ex3-tab-1"
                                    data-mdb-toggle="tab"
                                    href="#ex3-tabs-1"
                                    role="tab"
                                    aria-controls="ex3-tabs-1"
                                    aria-selected="true"
                            >원화</a
                            >
                        </li>
                        <!--<li class="nav-item" role="presentation">
                            <a
                                    class="nav-link"
                                    id="ex3-tab-2"
                                    data-mdb-toggle="tab"
                                    href="#ex3-tabs-2"
                                    role="tab"
                                    aria-controls="ex3-tabs-2"
                                    aria-selected="false"
                            >보유</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                    class="nav-link"
                                    id="ex3-tab-3"
                                    data-mdb-toggle="tab"
                                    href="#ex3-tabs-3"
                                    role="tab"
                                    aria-controls="ex3-tabs-3"
                                    aria-selected="false"
                            >관심</a
                            >
                        </li>-->
                    </ul>
                    <!-- Tabs navs -->

                    <!-- Tabs content -->
                    <div class="tab-content border" id="ex2-content"  style="width: 420px; height: 810px; overflow: auto">
                        <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">한글명</th>
                                        <th scope="col">현재가</th>
                                        <th scope="col">전일대비</th>
                                        <th scope="col">거래대금</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="item : ${upbitMarketList}">
                                    <tr th:onclick="getCryptoOrderInfo([[${item.market}]])">
                                        <td style="font-weight: bold" th:text="${item.koreanName}">-</td>
                                        <td style="font-weight: bold" th:id="${item.market} + '-trade_price'" class="text-align-table-right">-</td>
                                        <td th:id="${item.market} + '-signed_change_rate'" class="text-align-table-right">-</td>
                                        <td th:id="${item.market} + '-acc_trade_price_24h'" class="text-align-table-right">-</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                            Tab 2 content
                        </div>

                        <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                            Tab 3 content
                        </div>
                    </div>
                    <!-- Tabs content -->
                </section>
            </div>

        </div>

        <!-- Upbit Websocket -->
        <script th:inline="javascript">const marketCodeListForWebsocket = [[${marketListString}]];</script>
        <script th:src="@{/js/order.js}" ></script>

    </body>

</html>